/*******Nacbar Color********/
#header {
    background-color: #4267b2;
    color: white;
}

#white-text {
  color: white;
}

#header ul .glyphicon {
    font-size: 25px;
}

#logo{
  height:24px;
  width:24px ;


}
#nav-container{
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
  padding: 0px;

}

.navbar{
  margin-bottom: 0px;
}

#name{
  height: 36.67;
  width: 14;
}
/*.white-text {
  color: white !important;
}*/
/*****Footer********/
.pull-right {
    float: right!important;
}
#wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 600px;
}

#main { background-color: #e9ebee; }

#menu { background-color: #e9ebee; }

#sidebar {
  background-color: #e9ebee;
}


/******Button and Serach Bar*********/
#btn{
	margin: -8px;
}

#sb{
width: 350px;
}

.btn-default{
	border-color: transparent;

}
/*left colum ***********/
.list-heading {
    padding: 20px 15px 0 15px;
}


/***********************************Main Body or Post Field*************************/

.panel-body .glyphicon {
    margin-left: 10px;
    margin-right: 4px;
}

.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
/* images uses for small size /*********************/
.img1{
	height:25px;
	width:25px;
	
}

#bs-example-navbar-collapse-1{
	padding-left: 0px;
}
